.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.board-container {
  max-height: 50vh;
  overflow: auto;
}
