.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow: auto;
}

.pageHeader {
  text-align: center;
  color: #2a2b2a;
}

.addColumnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 10px 0;
}

.addColumnBtn {
  color: #5a5e87;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: bold;
}
